:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  padding: 16px;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  margin: 5px;
  display: inline-flex;
  justify-content: space-evenly;
}

table {
  table-layout: auto;
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
}

hr {
  border: 1px solid rgba(65, 65, 65, 0.452);
  width: 36%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

.addbutton {
  margin-top: 25px;
}

.loginbutton {
  margin-top: 15px;
}

.total {
  display: inline-block;
  margin-top: 20px;
}

.formcontainer {
  width: 60%;
  margin: 0 auto;
}

.total p {
  display: inline;
  margin-right: 10px;
}