<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Add Ticket type</title>
</head>

<body>
    <h1>Add Ticket type</h1>

    <form th:object="${ticketType}" th:action="@{/events/{event_id}/saveTicketType(event_id=${event_id})}" action="#" method="post">
        <div>

			
            <label>Ticket type:</label>
            <input type="text" th:field="*{tickettypename}" />
            <div th:if="${#fields.hasErrors('tickettypename')}" th:errors="*{tickettypename}">Error</div>
        </div>
        <div>
            <label>Price:</label>
            <input type="text" th:field="*{price}" />
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</div>
        </div>
        <br>
        <button type="submit">Add Ticket Type</button>
    </form>

</body>



</html>
