<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Edit Ticket type</title>
</head>

<body>
    <h1>Edit Ticket type</h1>

    <form th:object="${ticketType}" th:action="@{/ticketTypes/save}" action="#" method="post">
        <div><input type="hidden" th:field="*{id}" /></div>
        <div>
            <label>Used:</label>
            <input type="datetime-local" th:field="*{used}" />
            <div th:if="${#fields.hasErrors('used')}" th:errors="*{used}">Error</div>
        </div>

        <div>
            <label>Description:</label>
            <input type="text" th:field="*{description}" />
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</div>
        </div>

        <div>
            <label>Price:</label>
            <input type="text" th:field="*{price}" />
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</div>
        </div>

        <br>

        <button type="submit">OK</button>
    </form>
</body>

</html>